* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

/* Utilities */

.page-wrapper {
    margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.container p a {
    color: #047aed;
}

.container p a:hover {
    color: #333;
    border-bottom: 2px #333 solid;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Navbar */

.navbar {
    background-color: #047aed;
    height: 75px;
}

.language {
    font-weight: 300;
    font-size: small;
    display: inline;
}

.navbar ul {
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Banner */

.banner  {
    min-height: 280px;
    background-color: silver;
}

.banner-image img{
    display: block;
    height: 280px;
    justify-self: center;
    margin: auto;
}

#banner-image {
    height: 280px;
    background-image: url("../img/keyboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text p {
    font-size: large;
    padding-right: 20px;
}

.hello-text {
    font-size: larger;
}

.hello-img img{
    margin: 50px;
    border-radius: 10px;
}

/* CV */

.cv-main {
    padding-bottom: 50px;
}

.cv-main h1 {
    font-size: x-large;
}

.cv-main h2 {
    font-size: larger;
}

/* Projects */

.projects-intro {
    margin-top: 40px;
    margin-bottom: 90px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.project {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-prew {
    background-color: #fff;
    margin: 15px;
}

.project-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-pic img{
    display: block;
    width: 100%;
    height: 480px;
    object-fit: cover;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media (max-width: 847px) {
    .navbar {
        height: 160px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        margin: 5px;
    }

    .banner .container {
        text-align: center;
    }

    .grid {
        grid-template-columns: 1fr
    }
    
    .project-pics {
        grid-template-columns: 1fr
    }

    .hello-img img{
        width: 20%;
        height: 20%;
    }
}

